<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202229410000-9f63nuiiot47pl5d6rhbjkvu2df0nhh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202229410000-9f63nuiiot47pl5d6rhbjkvu2df0nhh9</string>
	<key>API_KEY</key>
	<string>AIzaSyBEjs142sOpv8hgYnuBzAcySRMhFVOtIyw</string>
	<key>GCM_SENDER_ID</key>
	<string>202229410000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nodirbekmaqsudjonovich.todos</string>
	<key>PROJECT_ID</key>
	<string>todos-c02fb</string>
	<key>STORAGE_BUCKET</key>
	<string>todos-c02fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202229410000:ios:d451e652b13f10d8b096d5</string>
</dict>
</plist>